body {
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 300px;

}

#btn-cont{
    height: 800px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 60px;
}

#container {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    
    
}

.dispdim {
    width: auto;
    height: auto;
    font-size: large;
    font-weight: bolder;

}

.content {
    border: 1px solid black;
}

