body {
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 300px;

}

#btn-cont{
    height: 800px;
    display: flex;
    align-items: flex-start;
}

#container {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    
    
}

.content {
    border: 1px solid black;
}

